.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100 ;
}
.header__logo{
    width: 120px;
    object-fit: contain;
    margin: 0 10px;
    margin-top: 0px;
    
}
.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #e6880d; 
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border:none;
    width: 100%;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;;
    font-weight: 800; 
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header_optionBasket{
    display: flex;
    align-items: center ;
    color: white


}
.headerbasketCount{
    margin-left: 10px;
    margin-right: 10px ;
}

.header_options{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;

    width: 80%;
}
.hamburger{
    display: none;
}

.header_mobile{
   opacity: 0;
   height: 0vh;
   
   background: #131921;
   width: 100%;      
   z-index: 100;  
   transition: all 0.5s ease-in-out;
}
.nav_head{
    display: flex;
    flex-direction: column;
}
.header_option_mobile{
    display: flex;
    flex-direction: column;
    
    color: #fff;
    margin-right: 8%;
    margin-left: 1vh;
    margin-bottom: 2vh;
}
.header__nav_mobile{
    display: flex;
    flex-direction: column;
}
.header_option_mobileLineOne{
    margin-bottom: 2vh;
}
@media only screen and (max-width:550px)
{
     .header_options{
         display: none;
     }
     .header{
         justify-content: space-between;
     }
     .header__searchInput{
         width: 60%;
     }
     .hamburger{
   display: block;

     }

}
@media only screen and (max-width:350px){
    .header__logo{
        width: 100px;
    }
  }