.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right:auto ;
    max-width: 1500px;

}
.home_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
}

.home_row{
    display: flex;
    margin-bottom: 4vh;
  
}
.homeImage{
    width: 100%;
    z-index: -1;
    
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));

}
@media only screen and (max-width:700px)

{
    .home_row{
        display: flex;
        max-width: 50%;
        flex-direction: column;
        align-items: center;
    }
    .home_cards{
       
    }
}

@media only screen and (max-width:550px){
    .home_row{
       
        font-size: 0.8rem;
    }
}

