.product{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2vh;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 10px;
    background-color: white;
    z-index: 1;
}
.product_rating{
    display: flex;
}
.product > img{
    max-height: 50%;
    width: 50%;

}
.product > button{
    background-color: rgb(226, 134, 12);
    border: 2px solid;
    margin-top: 10px;
    border-color: #e6b947 #3b2708 #846a29;
    color:#111;
}
.product_price{
    margin-top: 5px;
}
.product_info{
    
    height: 100px;
    margin-bottom: 15px;
}
@media only screen and (max-width:550px){
    .product > img{
        max-height: 50%;
        width: 75%;
    
    }
}
@media only screen and (max-width:300px){
    .product > img{
        max-height: 50%;
        width: 100%;
    
    }
    .product > button{
        font-size: 0.7rem;
    }
}
